.rubyAccents {
	--accent-color: var(--ruby-9) !important;
	--accentedA1: var(--ruby-a1) !important;
	--accentedA2: var(--ruby-a2) !important;
	--accentedA3: var(--ruby-a3) !important;
	--accentedA4: var(--ruby-a4) !important;
	--accentedA5: var(--ruby-a5) !important;
	--accentedA6: var(--ruby-a6) !important;
	--accentedA7: var(--ruby-a7) !important;
	--accentedA8: var(--ruby-a8) !important;
	--accentedA9: var(--ruby-a9) !important;
	--accentedA10: var(--ruby-a10) !important;
	--accentedA11: var(--ruby-a11) !important;
	--accentedA12: var(--ruby-a12) !important;
	--accented0: var(--ruby-0) !important;
	--accented1: var(--ruby-1) !important;
	--accented2: var(--ruby-2) !important;
	--accented3: var(--ruby-3) !important;
	--accented4: var(--ruby-4) !important;
	--accented5: var(--ruby-5) !important;
	--accented6: var(--ruby-6) !important;
	--accented7: var(--ruby-7) !important;
	--accented8: var(--ruby-8) !important;
	--accented9: var(--ruby-9) !important;
	--accented10: var(--ruby-10) !important;
	--accented11: var(--ruby-11) !important;
	--accented12: var(--ruby-12) !important;
}

.violetAccents {
	--accent-color: var(--violet-9) !important;
	--accentedA1: var(--violet-a1) !important;
	--accentedA2: var(--violet-a2) !important;
	--accentedA3: var(--violet-a3) !important;
	--accentedA4: var(--violet-a4) !important;
	--accentedA5: var(--violet-a5) !important;
	--accentedA6: var(--violet-a6) !important;
	--accentedA7: var(--violet-a7) !important;
	--accentedA8: var(--violet-a8) !important;
	--accentedA9: var(--violet-a9) !important;
	--accentedA10: var(--violet-a10) !important;
	--accentedA11: var(--violet-a11) !important;
	--accentedA12: var(--violet-a12) !important;
	--accented0: var(--violet-0) !important;
	--accented1: var(--violet-1) !important;
	--accented2: var(--violet-2) !important;
	--accented3: var(--violet-3) !important;
	--accented4: var(--violet-4) !important;
	--accented5: var(--violet-5) !important;
	--accented6: var(--violet-6) !important;
	--accented7: var(--violet-7) !important;
	--accented8: var(--violet-8) !important;
	--accented9: var(--violet-9) !important;
	--accented10: var(--violet-10) !important;
	--accented11: var(--violet-11) !important;
	--accented12: var(--violet-12) !important;
}

.yellowAccents {
	--accent-color: var(--yellow-9) !important;
	--accentedA1: var(--yellow-a1) !important;
	--accentedA2: var(--yellow-a2) !important;
	--accentedA3: var(--yellow-a3) !important;
	--accentedA4: var(--yellow-a4) !important;
	--accentedA5: var(--yellow-a5) !important;
	--accentedA6: var(--yellow-a6) !important;
	--accentedA7: var(--yellow-a7) !important;
	--accentedA8: var(--yellow-a8) !important;
	--accentedA9: var(--yellow-a9) !important;
	--accentedA10: var(--yellow-a10) !important;
	--accentedA11: var(--yellow-a11) !important;
	--accentedA12: var(--yellow-a12) !important;
	--accented0: var(--yellow-0) !important;
	--accented1: var(--yellow-1) !important;
	--accented2: var(--yellow-2) !important;
	--accented3: var(--yellow-3) !important;
	--accented4: var(--yellow-4) !important;
	--accented5: var(--yellow-5) !important;
	--accented6: var(--yellow-6) !important;
	--accented7: var(--yellow-7) !important;
	--accented8: var(--yellow-8) !important;
	--accented9: var(--yellow-9) !important;
	--accented10: var(--yellow-10) !important;
	--accented11: var(--yellow-11) !important;
	--accented12: var(--yellow-12) !important;
}

.amberAccents {
	--accent-color: var(--amber-9) !important;
	--accentedA1: var(--amber-a1) !important;
	--accentedA2: var(--amber-a2) !important;
	--accentedA3: var(--amber-a3) !important;
	--accentedA4: var(--amber-a4) !important;
	--accentedA5: var(--amber-a5) !important;
	--accentedA6: var(--amber-a6) !important;
	--accentedA7: var(--amber-a7) !important;
	--accentedA8: var(--amber-a8) !important;
	--accentedA9: var(--amber-a9) !important;
	--accentedA10: var(--amber-a10) !important;
	--accentedA11: var(--amber-a11) !important;
	--accentedA12: var(--amber-a12) !important;
	--accented0: var(--amber-0) !important;
	--accented1: var(--amber-1) !important;
	--accented2: var(--amber-2) !important;
	--accented3: var(--amber-3) !important;
	--accented4: var(--amber-4) !important;
	--accented5: var(--amber-5) !important;
	--accented6: var(--amber-6) !important;
	--accented7: var(--amber-7) !important;
	--accented8: var(--amber-8) !important;
	--accented9: var(--amber-9) !important;
	--accented10: var(--amber-10) !important;
	--accented11: var(--amber-11) !important;
	--accented12: var(--amber-12) !important;
}

.tealAccents {
	--accent-color: var(--teal-9) !important;
	--accentedA1: var(--teal-a1) !important;
	--accentedA2: var(--teal-a2) !important;
	--accentedA3: var(--teal-a3) !important;
	--accentedA4: var(--teal-a4) !important;
	--accentedA5: var(--teal-a5) !important;
	--accentedA6: var(--teal-a6) !important;
	--accentedA7: var(--teal-a7) !important;
	--accentedA8: var(--teal-a8) !important;
	--accentedA9: var(--teal-a9) !important;
	--accentedA10: var(--teal-a10) !important;
	--accentedA11: var(--teal-a11) !important;
	--accentedA12: var(--teal-a12) !important;
	--accented0: var(--teal-0) !important;
	--accented1: var(--teal-1) !important;
	--accented2: var(--teal-2) !important;
	--accented3: var(--teal-3) !important;
	--accented4: var(--teal-4) !important;
	--accented5: var(--teal-5) !important;
	--accented6: var(--teal-6) !important;
	--accented7: var(--teal-7) !important;
	--accented8: var(--teal-8) !important;
	--accented9: var(--teal-9) !important;
	--accented10: var(--teal-10) !important;
	--accented11: var(--teal-11) !important;
	--accented12: var(--teal-12) !important;
}

.jadeAccents {
	--accent-color: var(--jade-9) !important;
	--accentedA1: var(--jade-a1) !important;
	--accentedA2: var(--jade-a2) !important;
	--accentedA3: var(--jade-a3) !important;
	--accentedA4: var(--jade-a4) !important;
	--accentedA5: var(--jade-a5) !important;
	--accentedA6: var(--jade-a6) !important;
	--accentedA7: var(--jade-a7) !important;
	--accentedA8: var(--jade-a8) !important;
	--accentedA9: var(--jade-a9) !important;
	--accentedA10: var(--jade-a10) !important;
	--accentedA11: var(--jade-a11) !important;
	--accentedA12: var(--jade-a12) !important;
	--accented0: var(--jade-0) !important;
	--accented1: var(--jade-1) !important;
	--accented2: var(--jade-2) !important;
	--accented3: var(--jade-3) !important;
	--accented4: var(--jade-4) !important;
	--accented5: var(--jade-5) !important;
	--accented6: var(--jade-6) !important;
	--accented7: var(--jade-7) !important;
	--accented8: var(--jade-8) !important;
	--accented9: var(--jade-9) !important;
	--accented10: var(--jade-10) !important;
	--accented11: var(--jade-11) !important;
	--accented12: var(--jade-12) !important;
}

.plumAccents {
	--accent-color: var(--plum-9) !important;
	--accentedA1: var(--plum-a1) !important;
	--accentedA2: var(--plum-a2) !important;
	--accentedA3: var(--plum-a3) !important;
	--accentedA4: var(--plum-a4) !important;
	--accentedA5: var(--plum-a5) !important;
	--accentedA6: var(--plum-a6) !important;
	--accentedA7: var(--plum-a7) !important;
	--accentedA8: var(--plum-a8) !important;
	--accentedA9: var(--plum-a9) !important;
	--accentedA10: var(--plum-a10) !important;
	--accentedA11: var(--plum-a11) !important;
	--accentedA12: var(--plum-a12) !important;
	--accented0: var(--plum-0) !important;
	--accented1: var(--plum-1) !important;
	--accented2: var(--plum-2) !important;
	--accented3: var(--plum-3) !important;
	--accented4: var(--plum-4) !important;
	--accented5: var(--plum-5) !important;
	--accented6: var(--plum-6) !important;
	--accented7: var(--plum-7) !important;
	--accented8: var(--plum-8) !important;
	--accented9: var(--plum-9) !important;
	--accented10: var(--plum-10) !important;
	--accented11: var(--plum-11) !important;
	--accented12: var(--plum-12) !important;
}

.skyAccents {
	--accent-color: var(--sky-9) !important;
	--accentedA1: var(--sky-a1) !important;
	--accentedA2: var(--sky-a2) !important;
	--accentedA3: var(--sky-a3) !important;
	--accentedA4: var(--sky-a4) !important;
	--accentedA5: var(--sky-a5) !important;
	--accentedA6: var(--sky-a6) !important;
	--accentedA7: var(--sky-a7) !important;
	--accentedA8: var(--sky-a8) !important;
	--accentedA9: var(--sky-a9) !important;
	--accentedA10: var(--sky-a10) !important;
	--accentedA11: var(--sky-a11) !important;
	--accentedA12: var(--sky-a12) !important;
	--accented0: var(--sky-0) !important;
	--accented1: var(--sky-1) !important;
	--accented2: var(--sky-2) !important;
	--accented3: var(--sky-3) !important;
	--accented4: var(--sky-4) !important;
	--accented5: var(--sky-5) !important;
	--accented6: var(--sky-6) !important;
	--accented7: var(--sky-7) !important;
	--accented8: var(--sky-8) !important;
	--accented9: var(--sky-9) !important;
	--accented10: var(--sky-10) !important;
	--accented11: var(--sky-11) !important;
	--accented12: var(--sky-12) !important;
}

.orangeAccents {
	--accent-color: var(--orange-9) !important;
	--accentedA1: var(--orange-a1) !important;
	--accentedA2: var(--orange-a2) !important;
	--accentedA3: var(--orange-a3) !important;
	--accentedA4: var(--orange-a4) !important;
	--accentedA5: var(--orange-a5) !important;
	--accentedA6: var(--orange-a6) !important;
	--accentedA7: var(--orange-a7) !important;
	--accentedA8: var(--orange-a8) !important;
	--accentedA9: var(--orange-a9) !important;
	--accentedA10: var(--orange-a10) !important;
	--accentedA11: var(--orange-a11) !important;
	--accentedA12: var(--orange-a12) !important;
	--accented0: var(--orange-0) !important;
	--accented1: var(--orange-1) !important;
	--accented2: var(--orange-2) !important;
	--accented3: var(--orange-3) !important;
	--accented4: var(--orange-4) !important;
	--accented5: var(--orange-5) !important;
	--accented6: var(--orange-6) !important;
	--accented7: var(--orange-7) !important;
	--accented8: var(--orange-8) !important;
	--accented9: var(--orange-9) !important;
	--accented10: var(--orange-10) !important;
	--accented11: var(--orange-11) !important;
	--accented12: var(--orange-12) !important;
}

.mintAccents {
	--accent-color: var(--mint-9) !important;
	--accentedA1: var(--mint-a1) !important;
	--accentedA2: var(--mint-a2) !important;
	--accentedA3: var(--mint-a3) !important;
	--accentedA4: var(--mint-a4) !important;
	--accentedA5: var(--mint-a5) !important;
	--accentedA6: var(--mint-a6) !important;
	--accentedA7: var(--mint-a7) !important;
	--accentedA8: var(--mint-a8) !important;
	--accentedA9: var(--mint-a9) !important;
	--accentedA10: var(--mint-a10) !important;
	--accentedA11: var(--mint-a11) !important;
	--accentedA12: var(--mint-a12) !important;
	--accented0: var(--mint-0) !important;
	--accented1: var(--mint-1) !important;
	--accented2: var(--mint-2) !important;
	--accented3: var(--mint-3) !important;
	--accented4: var(--mint-4) !important;
	--accented5: var(--mint-5) !important;
	--accented6: var(--mint-6) !important;
	--accented7: var(--mint-7) !important;
	--accented8: var(--mint-8) !important;
	--accented9: var(--mint-9) !important;
	--accented10: var(--mint-10) !important;
	--accented11: var(--mint-11) !important;
	--accented12: var(--mint-12) !important;
}

.indigoAccents {
	--accent-color: var(--indigo-9) !important;
	--accentedA1: var(--indigo-a1) !important;
	--accentedA2: var(--indigo-a2) !important;
	--accentedA3: var(--indigo-a3) !important;
	--accentedA4: var(--indigo-a4) !important;
	--accentedA5: var(--indigo-a5) !important;
	--accentedA6: var(--indigo-a6) !important;
	--accentedA7: var(--indigo-a7) !important;
	--accentedA8: var(--indigo-a8) !important;
	--accentedA9: var(--indigo-a9) !important;
	--accentedA10: var(--indigo-a10) !important;
	--accentedA11: var(--indigo-a11) !important;
	--accentedA12: var(--indigo-a12) !important;
	--accented0: var(--indigo-0) !important;
	--accented1: var(--indigo-1) !important;
	--accented2: var(--indigo-2) !important;
	--accented3: var(--indigo-3) !important;
	--accented4: var(--indigo-4) !important;
	--accented5: var(--indigo-5) !important;
	--accented6: var(--indigo-6) !important;
	--accented7: var(--indigo-7) !important;
	--accented8: var(--indigo-8) !important;
	--accented9: var(--indigo-9) !important;
	--accented10: var(--indigo-10) !important;
	--accented11: var(--indigo-11) !important;
	--accented12: var(--indigo-12) !important;
}

.crimsonAccents {
	--accent-color: var(--crimson-9) !important;
	--accentedA1: var(--crimson-a1) !important;
	--accentedA2: var(--crimson-a2) !important;
	--accentedA3: var(--crimson-a3) !important;
	--accentedA4: var(--crimson-a4) !important;
	--accentedA5: var(--crimson-a5) !important;
	--accentedA6: var(--crimson-a6) !important;
	--accentedA7: var(--crimson-a7) !important;
	--accentedA8: var(--crimson-a8) !important;
	--accentedA9: var(--crimson-a9) !important;
	--accentedA10: var(--crimson-a10) !important;
	--accentedA11: var(--crimson-a11) !important;
	--accentedA12: var(--crimson-a12) !important;
	--accented0: var(--crimson-0) !important;
	--accented1: var(--crimson-1) !important;
	--accented2: var(--crimson-2) !important;
	--accented3: var(--crimson-3) !important;
	--accented4: var(--crimson-4) !important;
	--accented5: var(--crimson-5) !important;
	--accented6: var(--crimson-6) !important;
	--accented7: var(--crimson-7) !important;
	--accented8: var(--crimson-8) !important;
	--accented9: var(--crimson-9) !important;
	--accented10: var(--crimson-10) !important;
	--accented11: var(--crimson-11) !important;
	--accented12: var(--crimson-12) !important;
}

.limeAccents {
	--accent-color: var(--lime-9) !important;
	--accentedA1: var(--lime-a1) !important;
	--accentedA2: var(--lime-a2) !important;
	--accentedA3: var(--lime-a3) !important;
	--accentedA4: var(--lime-a4) !important;
	--accentedA5: var(--lime-a5) !important;
	--accentedA6: var(--lime-a6) !important;
	--accentedA7: var(--lime-a7) !important;
	--accentedA8: var(--lime-a8) !important;
	--accentedA9: var(--lime-a9) !important;
	--accentedA10: var(--lime-a10) !important;
	--accentedA11: var(--lime-a11) !important;
	--accentedA12: var(--lime-a12) !important;
	--accented0: var(--lime-0) !important;
	--accented1: var(--lime-1) !important;
	--accented2: var(--lime-2) !important;
	--accented3: var(--lime-3) !important;
	--accented4: var(--lime-4) !important;
	--accented5: var(--lime-5) !important;
	--accented6: var(--lime-6) !important;
	--accented7: var(--lime-7) !important;
	--accented8: var(--lime-8) !important;
	--accented9: var(--lime-9) !important;
	--accented10: var(--lime-10) !important;
	--accented11: var(--lime-11) !important;
	--accented12: var(--lime-12) !important;
}

.grayAccents {
	--accent-color: var(--sand-9) !important;
	--accentedA1: var(--sand-a1) !important;
	--accentedA2: var(--sand-a2) !important;
	--accentedA3: var(--sand-a3) !important;
	--accentedA4: var(--sand-a4) !important;
	--accentedA5: var(--sand-a5) !important;
	--accentedA6: var(--sand-a6) !important;
	--accentedA7: var(--sand-a7) !important;
	--accentedA8: var(--sand-a8) !important;
	--accentedA9: var(--sand-a9) !important;
	--accentedA10: var(--sand-a10) !important;
	--accentedA11: var(--sand-a11) !important;
	--accentedA12: var(--sand-a12) !important;
	--accented1: var(--sand-1) !important;
	--accented2: var(--sand-2) !important;
	--accented3: var(--sand-3) !important;
	--accented4: var(--sand-4) !important;
	--accented5: var(--sand-5) !important;
	--accented6: var(--sand-6) !important;
	--accented7: var(--sand-7) !important;
	--accented8: var(--sand-8) !important;
	--accented9: var(--sand-9) !important;
	--accented10: var(--sand-10) !important;
	--accented11: var(--sand-11) !important;
	--accented12: var(--sand-12) !important;
}

[data-accent-color='cyan'] {
	--accent-1: var(--cyan-1);
	--accent-2: var(--cyan-2);
	--accent-3: var(--cyan-3);
	--accent-4: var(--cyan-4);
	--accent-5: var(--cyan-5);
	--accent-6: var(--cyan-6);
	--accent-7: var(--cyan-7);
	--accent-8: var(--cyan-8);
	--accent-9: var(--cyan-9);
	--accent-10: var(--cyan-10);
	--accent-11: var(--cyan-11);
	--accent-12: var(--cyan-12);
	--accent-a1: var(--cyan-a1);
	--accent-a2: var(--cyan-a2);
	--accent-a3: var(--cyan-a3);
	--accent-a4: var(--cyan-a4);
	--accent-a5: var(--cyan-a5);
	--accent-a6: var(--cyan-a6);
	--accent-a7: var(--cyan-a7);
	--accent-a8: var(--cyan-a8);
	--accent-a9: var(--cyan-a9);
	--accent-a10: var(--cyan-a10);
	--accent-a11: var(--cyan-a11);
	--accent-a12: var(--cyan-a12);
	--accent-contrast: var(--cyan-contrast);
	--accent-surface: var(--cyan-surface);
	--accent-indicator: var(--cyan-indicator);
	--accent-track: var(--cyan-track);
}
