@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
	/* --fonts0: 'Sometype Mono', monospace; */
	--geistSans: 'Geist Sans', sans-serif;
	--geistMono: 'Geist Mono', monospace;
}
.fontDM {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontInter {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontInterTight {
	font-family: 'Inter Tight', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontArchivo {
	font-family: 'Archivo', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontOutfit {
	font-family: 'Outfit', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontRethinkSans {
	font-family: 'Rethink Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontTikTokSans {
	font-family: 'TikTok Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontIBM {
	font-family: 'IBM Plex Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontGeistSans {
	font-family: var(--geistSans);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.fontGeistMono {
	font-family: var(--geistMono);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.radix-themes {
	--default-font-family: var(--geistMono);
	--heading-font-family: var(--geistMono);
	--code-font-family: var(--geistMono);
	--strong-font-family: var(--geistMono);
	--em-font-family: var(--geistMono);
	--quote-font-family: var(--geistMono);
}

*.rt-Kbd {
	font-size: calc(var(--font-size-2) * 0.8);
	box-shadow: var(--shadow-4);
	padding: 2px 8px;
}

*.rt-Button {
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-left: var(--space-3);
	padding-right: var(--space-3);
	gap: var(--space-1);
	font-size: var(--font-size-1);
	line-height: var(--line-height-1);
	height: var(--space-6);
	font-weight: 500;
}

*.rt-SelectTriggerInner {
}

*.rt-SelectTrigger,
*.SheSelectTrigger {
	box-shadow: inset 0 0 0 1px var(--accent-a8);
	font-family: var(--default-font-family);
	font-weight: var(--font-weight-medium);
	color: var(--accent-11);
	background-color: var(--accent-a3);
	padding-left: var(--space-3);
	padding-right: var(--space-3);
	height: var(--space-6);
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--space-1);
	font-size: var(--font-size-1);
	line-height: var(--line-height-1);
	letter-spacing: var(--letter-spacing-1);
}
