html,
body {
	/* overflow: hidden; */
}

html {
	/* position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: 100vw;
	min-width: 100vw;
	height: 100vh; */
	max-height: 100vh;
	min-height: 100vh;
	overflow-y: scroll;
	/* background: linear-gradient(to bottom, var(--accent-2), var(--color-background)); */
}

html {
	overflow-y: auto;
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Firefox */
}

html::-webkit-scrollbar {
	width: 8px;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.Router {
	height: 100%;
	--color-background: var(--sand-1);
}

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
	--color-background: var(--sand-1);
	--color-foreground: var(--sand-12);
	--color-accent: var(--amber-11);
	--color-accent-foreground: var(--amber-1);
	--color-muted: var(--sand-3);
	--color-muted-foreground: var(--sand-11);
	--color-border: var(--sand-6);
	--color-input: var(--sand-3);
	--color-card: var(--sand-2);
	--color-popover: var(--sand-2);
	--color-tooltip: var(--sand-2);
	--color-shadow: var(--sand-12);
	--color-primary: var(--teal-9);
	--color-primary-foreground: var(--teal-1);
}

#App,
main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100vw;
}

#root {
	isolation: isolate;
}

.normalFont {
	font-family: var(--default-font-family) !important;
}

.rt-SelectTrigger {
	box-shadow: inset 0 0 0 1px var(--accent-a8);
	font-family: var(--default-font-family);
	font-weight: var(--font-weight-medium);
	color: var(--accent-11);
}

.rt-SelectTriggerInner {
}

.pixel0 {
	pointer-events: none;
	position: absolute;
	z-index: 100000;
	top: 80px;
	left: 50%;
	box-shadow: 50px 20px 500px 200px hsl(139deg 59% 55% / 3%);
}

.pixel1 {
	pointer-events: none;
	position: absolute;
	z-index: 100000;
	bottom: 300px;
	right: 280px;
	box-shadow: 50px 20px 500px 200px hsl(297deg 100% 50% / 2%);
}

.pixel2 {
	pointer-events: none;
	position: absolute;
	z-index: 100000;
	bottom: 120px;
	left: 200px;
	box-shadow: 50px 20px 500px 200px #ffffff0d;
}

body:has(.qwerty-target-chords) .chordBlockKbd {
	display: flex;
}

body:has(.qwerty-target-progression) .chordBlockKbd {
	display: none;
}

body:has(.qwerty-target-chords) .progressionKbd {
	display: none;
}

body:has(.qwerty-target-progression) .progressionKbd {
	display: flex;
}
