.ChordBrowser {
	--blockHeight: 96px !important;
	overflow: auto;
	flex: 1;
}

.ChordBrowser.isCompact {
	--blockHeight: 48px !important;
}

.RootNoteSelect {
	width: 100%;
}

.RootNoteSelectRoot {
	width: 32px;
	height: 32px;
}

.NoteChords {
	flex-wrap: wrap;
}

.RootNoteToggleGroup {
	display: flex;
}

.RootNoteItem {
	width: 100px;
	height: 32px;
	display: flex;
	align-items: center;
}

.ChordGrid {
	position: relative;
	min-height: 200px; /* Ensure there's enough room for the animations */
}
