.MainView {
	width: 100%;
	height: 94vh;
	max-width: 100vw;
	background: var(--sand-2);
}

.MainRouter {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.MainControls {
	/* margin-top: auto; */
	/* padding:  */
	background: var(--sand-2);
}

.PatternEditor {
	background: var(--sand-2);
	max-height: 600px;
	overflow: auto;
}

.markerCell {
	border-left: 1px solid var(--sand-9);
	/* padding-left: 8px; */
	width: var(--cellWidth);
	min-width: var(--cellWidth);
	max-width: var(--cellWidth);
	color: var(--sand-9);
	justify-content: center;
	background: var(--sand-4);
}

.GridSignalCell {
	border-top: 1px solid var(--sand-a5);
	border-left: 1px solid var(--sand-a5);
	border-right: 1px solid var(--sand-a5);
	transition: background-color 0.05s ease-in-out;
	background-color: var(--sand-a4);
	width: var(--cellWidth);
	min-width: var(--cellWidth);
	max-width: var(--cellWidth);
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border-right: 1px solid var(--yellow-a12); */

	&:hover {
		background-color: var(--sand-6) !important;
	}
}

.GridSignalRow {
}

.GridColumn {
	width: 100%;
	--cellWidth: 32px;
}

.GridColumn .GridSignalRow:last-of-type .GridSignalCell {
	border-bottom: 1px solid var(--sand-9);
}

.GridSignalRow .GridSignalCell:last-of-type {
	border-right: 1px solid var(--sand-9);
}

.GridColumn .GridSignalRow .GridSignalCell {
	background-color: var(--sand-2);
}

.GridSignalCell.isSelected {
	background-color: var(--white) !important;
}

.signalHandle {
	position: absolute;
	width: 5px;
	height: 100%;
	top: 0;
	cursor: ew-resize;
	background: var(--sand-2);
	z-index: 16;
	transition: background-color 0.125s ease-in-out;
}

.signalHandle.handleLeft {
	left: -2px;
}

.signalHandle.handleRight {
	right: -2px;
}

.DraggableSignal {
	width: var(--cellWidth);
	height: 28px;
	background: #f2e1ca;
	border-radius: 2px;
	cursor: pointer;

	&.isSelected {
		background-color: white;
		color: black;
		box-shadow: 0px 0px 42px 6px var(--sand-a7);
	}
}

.signalText {
	color: white;
	pointer-events: none;
}

.GridColumn .GridSignalRow .GridSignalCell:nth-child(8n + 5),
.GridColumn .GridSignalRow .GridSignalCell:nth-child(8n + 6),
.GridColumn .GridSignalRow .GridSignalCell:nth-child(8n + 7),
.GridColumn .GridSignalRow .GridSignalCell:nth-child(8n + 8) {
	background-color: var(--sand-1);
}

.noteIdLabel {
	letter-spacing: 2px;
}

.GridColumn {
	--divisionWidth: calc(var(--cellWidth) / 2);
}

.baseDraggable {
	height: 28px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	user-select: none;
	position: absolute;
}

@keyframes pulse {
	0% {
		box-shadow: 0px 0px 2px 0px var(--red-9);
	}
	50% {
		box-shadow: 0px 0px 8px 5px var(--red-9);
	}
	100% {
		box-shadow: 0px 0px 2px 0px var(--red-9);
	}
}

.DotIndicator {
	--dotColor: white;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	outline: 2px solid var(--red-5);
	background: var(--dotColor);

	box-shadow: 0px 0px 8px 5px var(--red-9);
	animation: pulse 1.5s infinite;
}
