.ControlBox {
	align-items: center;
	background: rgba(0, 0, 0, 0.95);
	border: 1px solid var(--gray-8);
	border-radius: var(--radius-3);
	box-shadow: 0 -6px 16px -1px rgb(0 0 0 / 83%);
	display: flex;
	padding-inline: var(--space-4);
	padding-block: var(--space-2);
	justify-content: flex-end;
	align-items: flex-end;
	gap: 16px;
}
